{% load static %}

{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>
			Shelf - {% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" media="screen" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	</head>		
	<body>
		<div class="container-fluid main">			
			<div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
								<li><h4 class="muted" title="v0.5">Shelf</h4></li>
                <li class="{% block navHome %} {% endblock %}"><a href="{% url 'shelf.views.home' %}">Home</a></li>
                <li class="{% block navAddArticle %} {% endblock %}"><a href="{% url 'shelf.views.addArticle' %}">Add</a></li>
                <li class="{% block navSearch %} {% endblock %}"><a href="{% url 'shelf.views.search' %}">Search</a></li>
                {% block fakePages %}{% endblock %}
              </ul>
						</div>
          </div>
	{% block subNav %}{% endblock %}
        </div><!-- /.navbar -->

      </div> <!-- /.masthead -->

			<div class="container-fluid sub">			
				{% block content %}				{% endblock %}
				</form>
			</div>
		</div>
	</body>
</html>
