{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block navSearch %}active{% endblock %}

{% comment %} {% block subNav %}<ul class="subNav"><li><a>Search</a></li><li><a>Schedule</a></li></ul>{% endblock %} {% endcomment %}

{% block content %}
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	
	<legend class="dataCmd">
		<span class="title">Search</span>
		<button id="search" name="search" title="Search" class="btn reset btn-default"><i class="icon-search"></i></button>
	</legend>

	<fieldset>
		<div class="row-fluid">			
			<div class="control-group">
				<div class="span2"><label class="control-label" for="id_{{ form.urlTitle.html_name }}">{{ form.urlTitle.label }}</label></div>
				<div class="controls span5">
					{{ form.urlTitle }}
				</div>
				<div class="span2"><label class="control-label rightPanel" for="id_{{ form.filter.html_name }}">{{ form.filter.label }}</label></div>
				<div class="controls span3">
					{{ form.filter }}
				</div>
		</div>		
	</fieldset>

		<div class="row-fluid">			
			<legend>Items</legend>
		</div>
		{{ form.paging }}
		{% if articles %}
			<div class="row-fluid">		
				<div class="span4 wrap"><b>Title</b></div>
				<div class="span4"></div>
				<div class="span3"><b>Duration</b></div>
				<div class="span1"><b>Action</b></div>
			</div>
			{% for article in articles %}	
				<div class="row-fluid">			
					<div class="span4 wrap">
						<a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
					</div>
					<div class="span4"></div>
					<div class="span3">{{ article.endDate }}</div>
					<div class="span1">
						<button value="{{ article.id }}" type="submit" name="delete" class="reset" title="Delete" onclick="return confirm('Do you want to delete the article \'{{ article.title }}\'?')"><i class="icon-trash"></i></button>
						<a href="{% url edit article.id %}" title="Edit"><i class="icon-edit"></i></a>
						{% if article.endDate %}
							<button value="{{ article.id }}" type="submit" name="read" class="btn reset {% if article.hasBeenRead %} disabled {% endif %}" title="Read" onclick="return confirm('Have you read the article \'{{ article.title }}\'?')" {% if article.hasBeenRead %} disabled {% endif %}><i class="icon-ok"></i></button>
						{% endif %}
					</div>
				</div>								
			{% endfor %}
			<!-- Paging -->
			<div class="row-fluid">
				<div class="text-center span12">
					{% if page > 0 %}
						<button type="submit" name="previous" class="btn reset" title="Previous"><i class="icon-chevron-left"></i></button>
					{% endif %}					
					Page {{ page|add:1 }} of {{ nb_pages }} ({{ nb_articles }} item{{ nb_articles|pluralize }}).
					{% if page < nb_pages|add:-1 %}
						<button type="submit" name="next" class="btn reset" title="Next"><i class="icon-chevron-right"></i></button>
					{% endif %}
					</div>
			</div>		
		{% else %}
			<div class="row-fluid">			
				<div class="span12">No items found. Please update your search criteria.</div>
			</div>
		{% endif %}

</form>
{% endblock %}

